# Jekyll files
.sass-cache
_site
.mypy_cache
bin/

# Binary files (at least for now)
assets/images

# Ruby files
*.gem
node_modules
.bundle

# TeX output files
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.toc
*.bcf
*.run.xml
_minted-*

# Compiled Python
__pycache__
