<head>
  <meta charset="UTF-8">

  <!-- Load jQuery -->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!-- Load KaTeX -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css">
  <script src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js"></script>


  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="description" content="Learn robotics in a simple and intuitive way.">
  <meta name="keywords" content="robotics,education,frc,technology,programming,engineering">

	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/just-the-docs.css">
  {% if site.search_enabled != nil %}
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/vendor/lunr.min.js"></script>
  {% endif %}
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/just-the-docs.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
